<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="handong.cconma.cconmaadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- uses-permissions for GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/company_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainpage.MainActivity"
            android:label="@string/company_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".etc.MyWebView"
            android:parentActivityName=".mainpage.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainpage.MainActivity" />
        </activity>
        <activity android:name=".board.BoardMarkedActivity" />

        <activity
            android:name=".board.BoardWriteActivity"
            android:parentActivityName=".mainpage.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainpage.MainActivity" />
        </activity>



        <activity

            android:name=".board.BoardModifyActivity"
            android:parentActivityName=".board.BoardViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".board.BoardViewActivity" />
        </activity>

        <activity
            android:name=".board.BoardViewActivity"
            android:parentActivityName=".mainpage.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainpage.MainActivity" />
        </activity>

        <activity android:name=".inquiry.InquryMember" />
        <activity android:name=".inquiry.InquryOrder" />
        <activity android:name=".push.PushView" />
        <activity android:name=".statics.StaticsMain" />
        <activity
            android:name=".statics.StaticsOrderH"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".statics.StaticsLike"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".statics.StaticsOrderRecent"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".statics.StaticsTrade"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".statics.StaticsMember"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".statics.StaticsMemberRecent"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service android:name="etc.IconService">
            <intent-filter>
                <action android:name="iconservice" />
            </intent-filter>
        </service>

        <!-- GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="net.saltfactory.demo.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="handong.cconma.cconmaadmin.gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="handong.cconma.cconmaadmin.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name="handong.cconma.cconmaadmin.gcm.RegistrationIntentService"
            android:exported="false"></service>
        <!-- end of GCM-->
    </application>
</manifest>
