<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="handong.cconma.cconmaadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- uses-permissions for GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:name=".mainpage.AdminApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainpage.StartPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mainpage.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity android:name=".etc.LoginWebView" />
        <activity android:name=".etc.LogoutWebView" />
        <activity android:name=".etc.StartupWebView" />
        <activity android:name=".etc.MyWebView" />

        <activity android:name=".etc.SettingActivity" />

        <activity android:name=".board.BoardWriteActivity" />

        <activity android:name=".board.BoardModifyActivity" />

        <activity
            android:name=".board.BoardViewActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".board.BoardMarkedActivity" />

        <activity android:name=".push.PushView" />

        <activity android:name=".statics.StaticsMain_B" />
        <activity
            android:name=".statics.StaticsOrderH"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".statics.StaticsLike"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".statics.StaticsOrderRecent"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".statics.StaticsTrade"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".statics.StaticsMember"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".statics.StaticsMemberRecent"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service android:name="etc.IconService">
            <intent-filter>
                <action android:name="iconservice" />
            </intent-filter>
        </service>

        <!-- GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="net.saltfactory.demo.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" />
        <!-- end of GCM -->
        <activity
            android:name=".statics.StaticsTest"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_statics_test"></activity>
    </application>

</manifest>
